body,html{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.headerContainer{
    display: flex;
    
}
.whiteText{
    color:rgb(252, 252, 252);
    padding-bottom: 1em;
    text-align: center;
}
.headerImg{
    width: 100vw;
    background-size: cover;
    z-index: 5;
    position: relative;

}

.headerText{
    z-index: 10;
    color: rgb(131, 30, 50);
    font-size: 2rem;
    font-family: 'Poller One', cursive;
    text-align: center;
    text-shadow: 0 -.1em 15px rgb(131, 30, 50);
    top: 5.5em;
    position: absolute;
}

.testmall {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  Firefox */
    
}
.testmall::-webkit-scrollbar {
    display: none;
}

.btn-home {
    padding: .5em 1em;
    background-color: rgb(43, 43, 43);
    box-shadow: 1px 1px 2px rgb(122, 44, 44);
    color: rgb(202, 209, 209);
    /* border-style: none; */
    border: 1px solid rgba(122, 44, 44, 0);
    margin: .2em;
    border-radius: .5em;
    width: 8em;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: .070em;
    font-weight: 600;
    transition: all .3s;
}

.btn-home:hover {
    /* border: 1px solid rgb(144, 45, 45); */
    border: 1px solid rgb(118, 150, 137);
}

.btn-list {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
    border-bottom: 2px solid rgb(131, 30, 50);
}



.menu,.btn-list {
    display: flex;
    margin: 1em auto;
    width: 80%;
}

.menu li {
    background-color: rgb(240, 240, 240);
    border-style: none;
    z-index: 10;
    width: 10em;
    padding: .5em 1em;
    margin: .3em;
    border-radius: 1em;
    letter-spacing: .2em;
    font-family: 'Poller One', cursive;
    
}

.menu li a {
    color: black;
    text-decoration: none;
    
}

.bajs {
    color: red;
    padding: .5em 1em;
    text-decoration: none;
}
.FetchContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    overflow: scroll;
}
.sub-categories-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 20em;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 1em;
    
}
.sub-categories-list::-webkit-scrollbar {
    display: none;
}

.sub-category-btn{
    padding: .2em .5em;
    margin-bottom: .3em;
    height: 20%;
    border-radius: .7em;
}

.sub-category-btn:hover {
    background-color: #fff;
}